html{
	background: transparent url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat fixed;
}

header {
  	margin-top: 0px;
  	background: #77DD77;
  	color: #ffffff;
  }
  header h1 {
  	padding: 100px;
  	color: black;
  	display: block;
  	font-size: 50px;
  	width: 120%;
  	height: 20px;
  	position: static;
 }
 header h2 {
  	padding: 100px;
  	color: black;
  	display: block;
  	font-size: 50px;
  	width: 90%;
  	height: 550px;
  	position: static;
  	text-align: right;
  }
 header h3 {
  	padding: 100px;
  	color: black;
  	display: block;
  	font-size: 50px;
  	width: 120%;
  	height: 700px;
  	position: static;
  }

 p {
 }

.summary {
	background: white;
	margin: 0;
	padding: 40px;
	width: 500px;
	height: 100px;
	top: 65px;
	right: 50px;
	display: block;
	position: absolute;
}
 .page-intro {
 	background: lightblue;
 	margin-right: 200px;
 	margin-left: 200px;
 	opacity: 0.7;
 }
  .details {
  	background: white;
	margin: 0;
	padding: 40px;
	width: 750px;
	height: 500px;
	top: 350px;
	left: 100px;
	display: block;
	position: absolute;
 }
 .example1 {
 	background: white;
	margin: 0;
	padding: 40px;
	width: 700px;
	height: 500px;
	top: 1300px;
	left: 100px;
	display: block;
	position: absolute;
}
 .example2 {
 	background: white;
	margin: 0;
	padding: 40px;
	width: 700px;
	height: 500px;
	top: 1300px;
	right: 100px;
	display: block;
	position: absolute;
 }