html{
  font-family: 'Prompt', sans-serif;
}

header {
  }
  header h1 {
    background: transparent url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat fixed;
    padding: 130px;
    color: black;
    display: block;
    font-size: 50px;
    width: 96%;
    height: 20px;
    position: static;
    text-align: center;
    opacity: 0.8;

    animation-name: headanime;
    animation-duration: 2s;
}
@keyframes headanime {
  0%   {opacity: 0; left:1000px;}
  10%   {opacity: 0.2; left:750px;}
  20%   {opacity: 0.3; left:550px;}
  30%   {opacity: 0.5; left:250px;}
  40%   {opacity: 0.6; left:100px;}
  50%   {opacity: 0.6; left:0px;}
  60%   {opacity: 0.7; left:0px;}
  70%   {opacity: 0.7; left:0px;}
  80%   {opacity: 0.9; left:0px;}
  90%   {opacity: 0.9; left:0px;}
  100% {opacity: 1: left:0px;}
}

header h2 {
  background-color: lightblue;
}
 header h3 {
  background-color: orange;
  }

 p {
  /*font-family: 'Prompt', sans-serif;*/
 }

.summary {
  position: absolute;
  top: 290px;
  left: 420px;
}
 .page-intro {
  margin-right: 200px;
 }
  .details {
    margin: 5px;
    padding: 10px;
    margin-left: 600px;
    margin-right: 300px;
    border: dotted pink 5px;

    animation-name: animedetail;
    animation-duration: 5s;
 }
 @keyframes animedetail {
  0%   {opacity: 0;}
  10%   {opacity: 0.2; }
  20%   {opacity: 0.3;}
  50%   {opacity: 0.7;}
  100% {opacity: 1;}
}

.example {
    margin: 5px;
    padding: 10px;
    margin-left: 600px;
    margin-right: 300px;
    border: dotted orange 5px;

        animation-name: exampledetail;
    animation-duration: 5s;
}
@keyframes exampledetail {
  0%   {opacity: 0;}
  10%   {opacity: 0.2; }
  20%   {opacity: 0.3;}
  50%   {opacity: 0.7;}
  100% {opacity: 1;}
}

.example1 {
  align-content: center;
}

.example2 {
  align-content: center;
}